.home_container{
    /* border: 2px solid black; */
    margin: 0 2vw;
}

.heading_container{
  /* border: 2px solid red; */
  height: 80px;
}

.heading_container h1{
   margin:5px 0;
}

.heading_container p{
   color: gray;
}

.cards_container{
    /* border: 2px solid green; */
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

@media(max-width:768px){
    .heading_container{
        /* border: 2px solid red; */
        height: 150px;
      }
      .cards_container{
        /* border: 2px solid green; */
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}